.container{
    width: 30vw;
    margin:auto;
}
/* .first{
    width: 320px;
    height: 230px;
    border: 2px solid black;
    background-color: rgb(29, 28, 28);
}
.second{
    width: 320px;
    height: 230px;
    border: 2px solid black;
    background-color: rgb(29, 28, 28);
}
.third{
    width: 390px;
    height: 230px;
    border: 2px solid black;
    background-color: rgb(29, 28, 28);
} */
